

@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
		background: grey;
}



/*---------------------------------------------------------------------------------------*/
/* BEGIN OF: Handle the search bar:                                                      */
#myInput{

    /* Input area of the search button. */
	width: 400px;
	border: 3px solid black;		/* Colour around the input area. */
	background: transparent;
	padding: 15px 30px;
	border-radius: 50px;
	outline: none;
	font-size: 18px;
	color: black;   /* The input text colour. */   
	top: 40px;
	border-box: box-sizing;
	font-size: 16px;
	padding: 14px 20px 12px 45px;

	/*
	// If just wanting a line underneath the input area. Would use the bottom two lines of code.
	border: none;
	border-bottom: 1px solid #ddd;
  */


	/* Magnifying glass in the input area. */
	background-image: url("/Images/searchIcon.png");
	background-position: 5px 6px;
	background-repeat: no-repeat;
	background-size: 33px,35px;
}





/* The search button properties. */
.dropbtn{
	position: relative;
	top: 0px;
	right: 0px;
	cursor: pointer;
	color: #fc913a;			/* Colour of writing in the the search button. */
	background: black;		    /* Background Colour of the search button. */
	border: 0px;
	width: 120px;
	height: 55px;
	border-radius: 50px;		
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
}

/* Highlight the input bar area when selecting it for typing to show activation.*/
#myInput:focus
{
    border: 3px solid green;		/* Colour around the input area. */ 

}   /* When clicking on the input area. Change the border outline to indicate it has been activated. */


/*------------------------------------------------------------------*/
/* BEGIN OF: Handling of the drop down information list.            */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f6f6f6;
  min-width: 425px;
  max-width: 425px;
  top:-4px;
  left:22px;
  overflow: auto;
  border: 1px solid green;      /* Border of the drop down content from the search filter.*/
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Colour of the dropdown on hover over.*/
.dropdown a:hover {background-color: #ddd;}

/* END OF: Handling of the drop down information list.              */
/*------------------------------------------------------------------*/


.show {display: block;}

/* END OF: Handle the search bar. */
/*---------------------------------------------------------------------------------------*/
